* {
  font-family: "Space Mono", monospace;
}

body {
  background-image: url("../src/cafe.jpg");
  background-size: cover;
}
nav {
  background-color: #475569;
  color: white;
}

#content {
  min-height: 100vh;
  height: fit-content;

  padding: 5rem;
}

button {
  all: unset;
}

.col {
  height: 60vh;
  width: 60vh;
}

img {
  object-fit: cover;
}
