* {
  font-family: "Space Mono", monospace;
}

body {
  min-height: 100vh;
  width: 100vw;
  background-image: url("../src/cafe.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  max-width: 60vw;
}

nav {
  background-color: #475569;
  color: white;
  width: 100vw;
}

#content {
  height: fit-content;

  padding: 5rem;
}

button {
  all: unset;
}

img {
  object-fit: cover;
}
